.content{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.settingsContainer {
    z-index: 3;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: gray;
    transform: translateY(-100%);
    transition: transform 1s;
    
     &.active {
        transform: translateY(0%);
     }
}